@import url(./fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "Montserrat";
}

header {
  height: 150px;
  background: #EDEDED;
}
@media (max-width: 900px) {
  header {
    background: #FFBC28;
    height: 450px;
  }
}
@media (max-width: 1500px) {
  header nav {
    position: relative;
    top: 100px;
  }
}
@media (max-width: 900px) {
  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 200px;
  }
}
header nav img {
  margin-top: -100px;
}
@media (max-width: 1500px) {
  header nav img {
    margin-top: -200px;
  }
}
header .header__nav-bg {
  position: relative;
  left: -200px;
}
@media (max-width: 1250px) {
  header .header__nav-bg {
    position: relative;
    left: 10px;
  }
}
@media (max-width: 900px) {
  header .header__nav-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}
header .header__nav-bg .header__bg-bg {
  background: #FFBC28;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 92px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 33% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 33% 100%);
}
@media (max-width: 1500px) {
  header .header__nav-bg .header__bg-bg {
    display: none;
  }
}
header .header__bg {
  background: #00095A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -100px;
  width: 1195px;
  height: 155px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 33% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 33% 100%);
}
@media (max-width: 1200px) {
  header .header__bg {
    width: 800px;
  }
}
@media (max-width: 900px) {
  header .header__bg {
    position: relative;
    left: -25px;
    flex-direction: column;
    -webkit-clip-path: none;
            clip-path: none;
    width: 0px;
  }
}
header nav img {
  width: 150px;
}
header nav ul {
  margin-left: 150px;
}
@media (max-width: 1200px) {
  header nav ul {
    margin-left: 70px;
  }
}
@media (max-width: 900px) {
  header nav ul {
    flex-direction: column;
    text-align: center;
    margin-top: 400px;
    margin-bottom: 20px;
  }
}
header nav ul li a {
  width: 86px;
  height: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
  transition: 0.2s linear;
}
@media (max-width: 1370px) {
  header nav ul li a {
    font-size: 13px;
  }
}
header nav ul li a:hover {
  color: #FFBC28;
  transition: 0.2s linear;
}
@media (max-width: 900px) {
  header nav ul li a:hover {
    color: #00095A;
  }
}
header button {
  width: 103px;
  height: 42px;
  background: #FFBC28;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  left: 50px;
  transition: 0.2s linear;
}
@media (max-width: 1200px) {
  header button {
    width: 80px;
  }
}
@media (max-width: 900px) {
  header button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background: #00095A;
    margin-left: -55px;
    text-align: center !important;
  }
}
header button:hover {
  background: white;
  color: #000000;
  transition: 0.2s linear;
}

main .main__contacts {
  margin-top: 114px;
}
main .main__contacts .main__content-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main__contacts .main__content-title h1 {
  width: 288px;
  height: 67px;
  font-size: 55px;
  line-height: 67px;
  font-weight: 700;
  color: #000A68;
  text-align: center;
}
@media (max-width: 710px) {
  main .main__contacts .main__content-title h1 {
    font-size: 40px;
  }
}
main .main__contacts .main__contacts-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 20px;
}
@media (max-width: 1423px) {
  main .main__contacts .main__contacts-block {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 710px) {
  main .main__contacts .main__contacts-block {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .main__contacts .main__contacts-block .main__contacts-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 128px;
}
@media (max-width: 385px) {
  main .main__contacts .main__contacts-block .main__contacts-info {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
main .main__contacts .main__contacts-block .main__contacts-info .icon-bg {
  width: 83px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00095A;
  border-radius: 50%;
}
@media (max-width: 385px) {
  main .main__contacts .main__contacts-block .main__contacts-info .icon-bg {
    width: 50px;
    height: 51px;
  }
}
main .main__contacts .main__contacts-block .main__contacts-info .icon-bg i {
  font-size: 40px;
  color: #FFBC28;
}
@media (max-width: 385px) {
  main .main__contacts .main__contacts-block .main__contacts-info .icon-bg i {
    font-size: 20px;
  }
}
main .main__contacts .main__contacts-block .main__contacts-info .main__contacts-text {
  width: 339px;
  height: 68px;
  margin-top: 39px;
  text-align: center;
}
@media (max-width: 385px) {
  main .main__contacts .main__contacts-block .main__contacts-info .main__contacts-text {
    width: 200px;
    height: 50px;
  }
}
main .main__contacts .main__contacts-block .main__contacts-info .main__contacts-text b {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000A68;
}
@media (max-width: 385px) {
  main .main__contacts .main__contacts-block .main__contacts-info .main__contacts-text b {
    font-size: 15px;
  }
}
main .main__contacts .main__contacts-block .main__contacts-info .main__contacts-text span {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000A68;
}
@media (max-width: 385px) {
  main .main__contacts .main__contacts-block .main__contacts-info .main__contacts-text span {
    font-size: 15px;
  }
}
main .contacts {
  margin-left: 550px !important;
}
@media (max-width: 2190px) {
  main .contacts {
    margin-left: 15px !important;
  }
}
main .contacts .contacts__content {
  background: white;
  margin-top: 163px;
}
@media (max-width: 2190px) {
  main .contacts .contacts__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  main .contacts .contacts__content {
    position: relative;
    left: -20px;
  }
}
@media (max-width: 400px) {
  main .contacts .contacts__content {
    margin-right: auto;
    margin-left: auto;
  }
}
main .contacts .contacts__content p {
  width: 689px;
  height: 64px;
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  color: #000000;
  margin-top: 39px;
}
@media (max-width: 2190px) {
  main .contacts .contacts__content p {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  main .contacts .contacts__content p {
    width: 200px;
    text-align: center;
    font-size: 20px;
  }
}
main .contacts .contacts__content .contacts__info {
  margin-top: 81px;
}
main .contacts .contacts__content .contacts__info input {
  width: 688px;
  border: none;
  background: none;
  font-weight: 400;
  font-size: 28px;
  color: #ACACAC;
  border-bottom: 3px solid #000000;
}
@media (max-width: 1200px) {
  main .contacts .contacts__content .contacts__info input {
    width: 400px;
  }
}
@media (max-width: 900px) {
  main .contacts .contacts__content .contacts__info input {
    width: 300px;
  }
}
@media (max-width: 500px) {
  main .contacts .contacts__content .contacts__info input {
    width: 200px;
  }
}
main .contacts .contacts__content .contacts__info ::-moz-placeholder {
  position: relative;
  left: 20px;
}
main .contacts .contacts__content .contacts__info ::placeholder {
  position: relative;
  left: 20px;
}
@media (max-width: 500px) {
  main .contacts .contacts__content .contacts__info ::-moz-placeholder {
    font-size: 20px;
  }
  main .contacts .contacts__content .contacts__info ::placeholder {
    font-size: 20px;
  }
}
main .contacts .contacts__content button {
  width: 689px;
  height: 66px;
  border: none;
  border-radius: 10px;
  background: #FFBC28;
  margin-top: 50px;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #FFFFFF;
  transition: 0.2s linear;
}
@media (max-width: 1200px) {
  main .contacts .contacts__content button {
    width: 400px;
  }
}
@media (max-width: 900px) {
  main .contacts .contacts__content button {
    width: 300px;
  }
}
@media (max-width: 500px) {
  main .contacts .contacts__content button {
    width: 200px;
  }
}
main .contacts .contacts__content button:hover {
  background: #00095A;
  color: #FFFFFF;
  transition: 0.2s linear;
}
main .contacts .contacts__block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -200px;
}
main .contacts .contacts__block img {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 2190px) {
  main .contacts .contacts__block img {
    margin-left: 500px !important;
  }
}
@media (max-width: 1200px) {
  main .contacts .contacts__block img {
    width: 400px;
    margin-left: 350px !important;
  }
}
@media (max-width: 500px) {
  main .contacts .contacts__block img {
    width: 300px !important;
  }
}
@media (max-width: 340px) {
  main .contacts .contacts__block img {
    width: 250px;
  }
}

footer {
  background: #00095A;
  height: 736px;
  position: relative;
  top: 100px;
}
@media (max-width: 2190px) {
  footer {
    position: relative;
    top: 200px;
  }
}
@media (max-width: 1200px) {
  footer {
    height: 1330px;
  }
}
@media (max-width: 500px) {
  footer {
    position: relative;
    top: 100px;
  }
}
footer .footer__nav {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  place-items: center;
  gap: 40px;
}
@media (max-width: 1200px) {
  footer .footer__nav {
    grid-template-columns: repeat(1, 3fr);
  }
}
footer .footer__nav .footer__content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 150px;
}
@media (max-width: 1200px) {
  footer .footer__nav .footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 405px) {
  footer .footer__nav .footer__content {
    position: relative;
    left: -30px;
  }
}
@media (max-width: 350px) {
  footer .footer__nav .footer__content {
    position: relative;
    left: -40px;
  }
}
@media (max-width: 340px) {
  footer .footer__nav .footer__content {
    position: relative;
    left: -50px;
  }
}
@media (max-width: 330px) {
  footer .footer__nav .footer__content {
    position: relative;
    left: -60px;
  }
}
@media (max-width: 320px) {
  footer .footer__nav .footer__content {
    position: relative;
    left: -70px;
  }
}
footer .footer__nav .footer__content h2 {
  width: 399px;
  height: 49px;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: #FFFFFF;
  position: relative;
  top: -15px;
}
@media (max-width: 1200px) {
  footer .footer__nav .footer__content h2 {
    text-align: center;
  }
}
@media (max-width: 420px) {
  footer .footer__nav .footer__content h2 {
    font-size: 20px;
    text-align: center;
  }
}
footer .footer__nav .footer__content p {
  width: 421px;
  height: 81px;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  top: -30px;
}
@media (max-width: 420px) {
  footer .footer__nav .footer__content p {
    width: 280px;
    text-align: center !important;
  }
}
@media (max-width: 420px) {
  footer .footer__nav .footer__content p i {
    position: relative;
    left: 110px;
    top: -50px;
    font-size: 32px;
  }
}
footer .footer__nav .footer__content p a {
  color: white;
  text-decoration: none;
  transition: 0.2s linear;
}
footer .footer__nav .footer__content p a:hover {
  border-bottom: 1px solid white;
  transition: 0.2s linear;
}
footer .footer__nav .footer__content .footer__block {
  position: relative;
  top: -100px;
}
@media (max-width: 1200px) {
  footer .footer__nav .footer__content .footer__block {
    position: relative;
    left: -20px;
  }
}
@media (max-width: 420px) {
  footer .footer__nav .footer__content .footer__block {
    position: relative;
    top: -50px;
  }
}
@media (max-width: 1200px) {
  footer .footer__nav .footer__content .footer__block img {
    position: relative;
    left: -90px;
    top: 10px;
  }
}
footer .footer__nav .footer__content .footer__block .footer__link {
  width: 225px;
  height: 27px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  position: relative;
  left: 50px;
  top: -120px;
}
footer .footer__nav .footer__content .footer__block .footer__link a {
  color: white;
  text-decoration: none;
  transition: 0.2s linear;
}
footer .footer__nav .footer__content .footer__block .footer__link a:hover {
  border-bottom: 1px solid white;
  transition: 0.2s linear;
}
footer .footer__nav .footer__content .footer__block .footer__link:nth-last-of-type(1) {
  position: relative;
  top: -190px;
}
footer .footer__nav .footer__content i {
  position: relative;
  left: -5px;
}
footer .footer__nav .footer__content button {
  width: 225px;
  height: 61px;
  border: 1px solid #FFFFFF;
  background: none;
  border-radius: 18px;
  position: relative;
  top: -350px;
  transition: 0.2s linear;
}
@media (max-width: 420px) {
  footer .footer__nav .footer__content button {
    position: relative;
    top: -270px;
  }
}
footer .footer__nav .footer__content button i {
  font-size: 30px;
  color: white;
  position: relative;
  top: 5px;
}
footer .footer__nav .footer__content button .fa-telegram {
  position: relative;
  left: -40px;
}
footer .footer__nav .footer__content button .fa-instagram {
  position: relative;
  left: 2px;
}
footer .footer__nav .footer__content button .fa-youtube {
  position: relative;
  left: 40px;
}
footer .footer__nav .footer__content button:hover {
  background: #F19100;
  transition: 0.2s linear;
}
footer .footer__nav .footer__content-nav {
  position: relative;
  top: -70px;
}
footer .footer__nav .footer__content-nav h2 {
  width: 271px;
  height: 43px;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  color: white;
}
@media (max-width: 510px) {
  footer .footer__nav .footer__content-nav h2 {
    position: relative;
    left: -70px;
  }
}
@media (max-width: 460px) {
  footer .footer__nav .footer__content-nav h2 {
    font-size: 20px;
  }
}
footer .footer__nav .footer__content-nav .footer__nav-link {
  position: relative;
  top: -15px;
}
footer .footer__nav .footer__content-nav img {
  width: 10px;
  height: 20px;
  position: relative;
  left: -10px;
}
footer .footer__nav .footer__content-nav ul {
  position: relative;
  top: 50px;
}
@media (max-width: 510px) {
  footer .footer__nav .footer__content-nav ul {
    position: relative;
    left: -70px;
    font-size: 10px;
  }
}
footer .footer__nav .footer__content-nav ul ul li a {
  position: relative;
  left: 10px;
  font-size: 20px;
  transition: 0.2s linear;
}
footer .footer__nav .footer__content-nav ul a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}
@media (max-width: 480px) {
  footer .footer__nav .footer__content-nav ul a {
    font-size: 20px;
  }
}
@media (max-width: 460px) {
  footer .footer__nav .footer__content-nav ul a {
    font-size: 15px;
  }
}
footer .footer__nav .footer__content-nav ul li a:hover {
  border-bottom: 1px solid white;
  transition: 0.2s linear;
}
footer .footer__nav .footer__content-nav:nth-last-of-type(1) {
  position: relative;
  left: 90px;
}
@media (max-width: 1200px) {
  footer .footer__nav .footer__content-nav:nth-last-of-type(1) {
    position: relative;
    left: -10px;
    top: 10px;
  }
}
@media (max-width: 460px) {
  footer .footer__nav .footer__content-nav:nth-last-of-type(1) {
    position: relative;
    left: 10px;
  }
}
footer .footer__nav .footer__content-nav:nth-last-of-type(2) {
  position: relative;
  left: 50px;
  top: -15px;
}
@media (max-width: 480px) {
  footer .footer__nav .footer__content-nav:nth-last-of-type(2) {
    position: relative;
    left: 10px;
  }
}
footer .footer__nav ul:nth-last-of-type(1) {
  position: relative;
  top: 10px;
}/*# sourceMappingURL=contacts.css.map */